.footer-background {
    -fx-background-color: #080710;
    background-color: #080710;
}

.create-button {
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-cursor: hand;
    cursor: hand;
    -fx-border-color: #dedbdb;
    border-color: #dedbdb;
    -fx-border-width: 1px;
    border-width: 1px;
    -fx-border-radius: 30px;
    border-radius: 30px;
    -fx-text-fill: #dedbdb;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-font-size: 14px; 
    font-size: 14px; 
    -fx-letter-spacing: 4px; 
    letter-spacing: 4px; 
    -fx-background-radius: 30px;
    -fx-padding: 0 0 0 0;
    padding: 0 0 0 0;
}

.create-button:hover {
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-background-color: #23a2f6;
    background-color: #23a2f6;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, rgba(130, 174, 245, 0.6), 30, 0.0, 0, 0);
}
